<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/automobili">Automobili</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/motocikli">Motocikli</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/izracun">Informacije o izračunu</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<div style="height: 100px"></div>

<nav class="navbar navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <div class="navbar-text pull-left" style="padding-top:10px">© 2017 Dubravko Martinić</div>
        <div class="navbar-text pull-right">
            <a href="https://www.facebook.com/dubravko.martinic" target="_blank" class="btn btn-social-icon btn-facebook">
                <span class="fa fa-facebook"></span>
            </a>
            <a href="https://www.linkedin.com/in/dmartinic" target="_blank" class="btn btn-social-icon btn-linkedin">
                <span class="fa fa-linkedin"></span>
            </a>
        </div>
    </div>
</nav>