@media (min-width: 992px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        table-layout: fixed;
        border-left: 1px solid #666;
    }

    .navbar-nav > li {
        border-right: 1px solid #666; 
        padding-left: 10px;
        padding-right: 10px;
    }
   
    .active{
        color:white;
        background-color: #666;
        border-radius: 5px;
    }
}

@media (max-width: 992px){
    .navbar-nav > li{
        text-align: center;
    }

    .active{
        color:white;
        background-color: #666;
        border-radius: 5px;
        margin: 0px 150px;
    }
    
}

