<div class="container body-content">
  <br />
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Izračun za automobile</div>
        <div class="card-body">
          Formula za izračun:
          <b>
            <font color="blue">PP</font> = (<font color="red">PC</font> + (<font color="green">OE + EN</font>)) * <font color="purple">PV</font>
          </b>
          <br />
          <hr />
          <b>
            <font color="red">PC</font>
          </b> se računa kao postotak od cijene vozila, prema slijedećoj tablici:
          <br />
          <br />
          <table class="table table-striped">
            <tr>
              <th>Prodajna cijena</th>
              <th>Postotak</th>
            </tr>
            <tr>
              <td>0 - 100.000</td>
              <td>1</td>
            </tr>
            <tr>
              <td>100.000 - 150.000</td>
              <td>2</td>
              <tr>
                <td>150.000 - 200.000</td>
                <td>4</td>
              </tr>
              <tr>
                <td>200.000 - 250.000</td>
                <td>6</td>
              </tr>
              <tr>
                <td>250.000 - 300.000</td>
                <td>7</td>
              </tr>
              <tr>
                <td>300.000 - 350.000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>350.000 - 400.000</td>
                <td>9</td>
              </tr>
              <tr>
                <td>400.000 - 500.000</td>
                <td>15</td>
              </tr>
              <tr>
                <td>500.000 - 600.000</td>
                <td>20</td>
              </tr>
              <tr>
                <td>600.000+</td>
                <td>25</td>
              </tr>
          </table>
          <hr />
          <b>
            <font color="green">OE + EN</font>
          </b> je naknada za CO2, ON se uzima iz tablice, dok se EN računa tako da se iznos iz tablice pomnoži s razlikom iznosa
          CO2 i donje granice skupine u koju vozilo pripada.
          <br />
          <br />
          <p class="text-center">Diesel</p>
          <table class="table table-striped">
            <tr>
              <th>CO2 (g/km)</th>
              <th>ON u kn</th>
              <th>EN u kn (za 1 g/km)</th>
            </tr>
            <tr>
              <td>70 - 85</td>
              <td>185</td>
              <td>55</td>
            </tr>
            <tr>
              <td>85 - 120</td>
              <td>1.010</td>
              <td>175</td>
            </tr>
            <tr>
              <td>120 - 140</td>
              <td>7.135</td>
              <td>1.150</td>
            </tr>
            <tr>
              <td>140 - 170</td>
              <td>30.135</td>
              <td>1.250</td>
            </tr>
            <tr>
              <td>170 - 200</td>
              <td>67.635</td>
              <td>1.350</td>
            </tr>
            <tr>
              <td>200+</td>
              <td>108.135</td>
              <td>1.450</td>
            </tr>
          </table>
          <p class="text-center">Benzin</p>
          <table class="table table-striped">
            <tr>
              <th>CO2 (g/km)</th>
              <th>ON u kn</th>
              <th>EN u kn (za 1 g/km)</th>
            </tr>
            <tr>
              <td>75 - 90</td>
              <td>95</td>
              <td>35</td>
            </tr>
            <tr>
              <td>90 - 120</td>
              <td>620</td>
              <td>135</td>
            </tr>
            <tr>
              <td>120 - 140</td>
              <td>4.670</td>
              <td>450</td>
            </tr>
            <tr>
              <td>140 - 170</td>
              <td>13.670</td>
              <td>700</td>
            </tr>
            <tr>
              <td>170 - 200</td>
              <td>34.670</td>
              <td>1.200</td>
            </tr>
            <tr>
              <td>200+</td>
              <td>70.670</td>
              <td>1.300</td>
            </tr>
          </table>
          <hr />
          <font color="purple">
            <b>PV</b>
          </font> je pad vrijednosti vozila, računa se prema proteklom razdoblju od prve registracije vozila, iskazano je u postotku.
          <br />
          <br />
          <table class="table table-striped">
            <tr>
              <th>Starost u mjesecima</th>
              <th>Postotak</th>
            </tr>
            <tr>
              <td>0 - 1</td>
              <td>96</td>
            </tr>
            <tr>
              <td>1 - 2</td>
              <td>93</td>
            </tr>
            <tr>
              <td>2 - 3</td>
              <td>90</td>
            </tr>
            <tr>
              <td>3 - 4</td>
              <td>88</td>
            </tr>
            <tr>
              <td>4 - 5</td>
              <td>86</td>
            </tr>
            <tr>
              <td>5 - 6</td>
              <td>84</td>
            </tr>
            <tr>
              <td>6 - 7</td>
              <td>82</td>
            </tr>
            <tr>
              <td>7 - 8</td>
              <td>81</td>
            </tr>
            <tr>
              <td>8 - 9</td>
              <td>80</td>
            </tr>
            <tr>
              <td>9 - 10</td>
              <td>79</td>
            </tr>
            <tr>
              <td>10 - 11</td>
              <td>78</td>
            </tr>
            <tr>
              <td>11 - 12</td>
              <td>77</td>
            </tr>
            <tr>
              <td>12 - 13</td>
              <td>76.04</td>
            </tr>
            <tr>
              <td>13 - 14</td>
              <td>75.08</td>
            </tr>
            <tr>
              <td>14 - 15</td>
              <td>74.12</td>
            </tr>
            <tr>
              <td>15 - 16</td>
              <td>73.16</td>
            </tr>
            <tr>
              <td>16 - 17</td>
              <td>72.20</td>
            </tr>
            <tr>
              <td>18 - 19</td>
              <td>70.28</td>
            </tr>
            <tr>
              <td>19 - 20</td>
              <td>69.32</td>
            </tr>
            <tr>
              <td>20 - 21</td>
              <td>68.36</td>
            </tr>
            <tr>
              <td>21 - 22</td>
              <td>67.40</td>
            </tr>
            <tr>
              <td>22 - 23</td>
              <td>66.44</td>
            </tr>
            <tr>
              <td>23 - 24</td>
              <td>65</td>
            </tr>
            <tr>
              <td>24 - 26</td>
              <td>63.58</td>
            </tr>
            <tr>
              <td>26 - 28</td>
              <td>62.16</td>
            </tr>
            <tr>
              <td>28 - 30</td>
              <td>60.74</td>
            </tr>
            <tr>
              <td>30 - 32</td>
              <td>59.32</td>
            </tr>
            <tr>
              <td>32 - 34</td>
              <td>57.90</td>
            </tr>
            <tr>
              <td>34 - 36</td>
              <td>56.48</td>
            </tr>
            <tr>
              <td>36 - 38</td>
              <td>55.06</td>
            </tr>
            <tr>
              <td>38 - 40</td>
              <td>53.64</td>
            </tr>
            <tr>
              <td>40 - 42</td>
              <td>52.22</td>
            </tr>
            <tr>
              <td>42 - 44</td>
              <td>50.80</td>
            </tr>
            <tr>
              <td>44 - 46</td>
              <td>49.38</td>
            </tr>
            <tr>
              <td>46 - 48</td>
              <td>47.96</td>
            </tr>
            <tr>
              <td>48 - 51</td>
              <td>46.36</td>
            </tr>
            <tr>
              <td>51 - 54</td>
              <td>44.76</td>
            </tr>
            <tr>
              <td>54 - 57</td>
              <td>43.16</td>
            </tr>
            <tr>
              <td>57 - 60</td>
              <td>41.56</td>
            </tr>
            <tr>
              <td>60 - 64</td>
              <td>40.06</td>
            </tr>
            <tr>
              <td>64 - 68</td>
              <td>38.56</td>
            </tr>
            <tr>
              <td>68 - 72</td>
              <td>37.06</td>
            </tr>
            <tr>
              <td>72 - 78</td>
              <td>35.26</td>
            </tr>
            <tr>
              <td>78 - 84</td>
              <td>33.46</td>
            </tr>
            <tr>
              <td>84 - 90</td>
              <td>31.66</td>
            </tr>
            <tr>
              <td>90 - 96</td>
              <td>29.86</td>
            </tr>
            <tr>
              <td>96 - 102</td>
              <td>28.06</td>
            </tr>
            <tr>
              <td>102 - 108</td>
              <td>22.26</td>
            </tr>
            <tr>
              <td>108 - 114</td>
              <td>24.46</td>
            </tr>
            <tr>
              <td>114 - 120</td>
              <td>22.66</td>
            </tr>
            <tr>
              <td>120 - 132</td>
              <td>21.72</td>
            </tr>
            <tr>
              <td>132 - 144</td>
              <td>21.12</td>
            </tr>
            <tr>
              <td>144 - 156</td>
              <td>20.52</td>
            </tr>
            <tr>
              <td>156 - 168</td>
              <td>19.92</td>
            </tr>
            <tr>
              <td>168 - 180</td>
              <td>19.32</td>
            </tr>
          </table>
          <hr /> Podaci za izračun PC i OE+EN su iz
          <a href="http://narodne-novine.nn.hr/clanci/sluzbeni/2016_12_115_2530.html" target="_blank">Zakona o izmjenama i dopunama zakona o posebnom porezu na motorna vozila</a>
          <br /> Podaci za izračun PV su iz
          <a href="https://carina.gov.hr/UserDocsImages//dokumenti/Trosarine/Posebni%20porezi/Motorna%20vozila/Pravilnik%20-%20motorna%20vozila//Nacrt%20Pravilnika%20o%20posebnom%20porezu%20na%20motorna%20vozila.pdf"
            target="_blank">Nacrta pravilnika o posebnom porezu na motorna vozila</a>
          <br />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" id="motocikli">
        <div class="card-header">Izračun za motocikle</div>
        <div class="card-body">
          Formula za izračun:
          <b>
            <font color="blue">PP</font> = <font color="red">OM</font> * (<font color="green">KO</font> + <font color="green">EN</font>) * <font color="purple">PV</font></b>
          <br />
          <hr />
          <b>
            <font color="red">OM</font>
          </b> je obujam motora u CCM
          <br />
          <b>
            <font color="green">KO</font>
          </b> je koeficijent obujma motora, a računa se prema slijedećoj tablici:
          <br />
          <br />
          <table class="table table-striped">
            <tr>
              <th>Obujam motora u CCM</th>
              <th>KO</th>
            </tr>
            <tr>
              <td>51 - 125</td>
              <td>4</td>
            </tr>
            <tr>
              <td>126 - 300</td>
              <td>6</td>
              <tr>
                <td>301 - 700</td>
                <td>7</td>
              </tr>
              <tr>
                <td>701 - 1000</td>
                <td>8</td>
              </tr>
              <tr>
                <td>1001+</td>
                <td>10</td>
              </tr>
          </table>
          <hr />
          <b>
            <font color="green">EN</font>
          </b> je dodatak na koeficijent koji ovisi o razini emisije ispušnih plinova, računa se prema slijedećoj tablici:
          <br />
          <br />
          <table class="table table-striped">
            <tr>
              <th>Euro norma</th>
              <th>EN</th>
            </tr>
            <tr>
              <td>EURO I</td>
              <td>15</td>
            </tr>
            <tr>
              <td>EURO II</td>
              <td>10</td>
              <tr>
                <td>EURO III</td>
                <td>5</td>
              </tr>
              <tr>
                <td>EURO IV</td>
                <td>0</td>
              </tr>
          </table>
          <font color="purple"><b>PV</b></font> je pad vrijednosti vozila, računa se prema proteklom razdoblju od prve registracije vozila, iskazano je u postotku.
          <hr /> Podaci za izračun posebnog poreza za motocikle su iz
          <a href="http://narodne-novine.nn.hr/clanci/sluzbeni/2016_12_115_2530.html" target="_blank">Zakona o izmjenama i dopunama zakona o posebnom porezu na motorna vozila</a>
          <br /> Podaci za izračun PV su iz
          <a href="https://carina.gov.hr/UserDocsImages//dokumenti/Trosarine/Posebni%20porezi/Motorna%20vozila/Pravilnik%20-%20motorna%20vozila//Nacrt%20Pravilnika%20o%20posebnom%20porezu%20na%20motorna%20vozila.pdf"
            target="_blank">Nacrta pravilnika o posebnom porezu na motorna vozila</a>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
