<div class="container">
    <div class="row rowmargin">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-left text-md-center">Kalkulator za izračun troška posebnog poreza na promet motornih vozila prilikom unosa novih ili rabljenih
                        automobila i motocikala iz Europske Unije</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a routerLink="/automobili">
                                <img class="img-responsive" alt="Automobili" src="assets/img/automobil.png" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a routerLink="/motocikli">
                                <img class="img-responsive" alt="Motocikli" src="assets/img/motocikl.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Napomena: sredinom siječnja 2018. očekuje se donošenje uredbe kojom će se izračun mijenjati, te bi uvoz jeftinijih automobila trebao pojeftiniti. Kalkulator će biti prilagođen kada uredba izađe.
                </div>
            </div>
        </div>
    </div>
</div>