<div class="container">
    <div class="row rowmargin">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-left text-md-center">Kalkulator za izračun troška posebnog poreza na promet motornih vozila prilikom unosa novih ili rabljenih
                        automobila i motocikala iz Europske Unije</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a routerLink="/automobili">
                                <img class="img-responsive" alt="Automobili" src="assets/img/automobil.png" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a routerLink="/motocikli">
                                <img class="img-responsive" alt="Motocikli" src="assets/img/motocikl.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Kalkulator je prilagođen prema uredbi o načinu izračuna i visinama sastavnica za izračun PPMV koja je stupila na snagu od 12.01.2018. godine. Također računa i razliku u odnosu na stari izračun iz 2017. godine
                </div>
            </div>
        </div>
    </div>
</div>